<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cms">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CMS"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Leasing.AddEditLeasing"
            android:exported="true" />
        <activity
            android:name=".Leasing.LeasingTableLayout"
            android:exported="true" />
        <activity
            android:name=".Loan.LoanTableLayout"
            android:exported="true" />
        <activity
            android:name=".LeaseHeadPage"
            android:exported="true" />
        <activity
            android:name=".LoanHeadPage"
            android:exported="true" />
        <activity
            android:name=".Leeds.Calculator"
            android:exported="true" />
        <activity
            android:name=".Leeds.NewLeadLayout"
            android:exported="true" />
        <activity
            android:name=".Leeds.MoreLeaseDataLoad"
            android:exported="true" />
        <activity
            android:name=".Leeds.SanctionLetterDisplay"
            android:exported="true" />
        <activity
            android:name=".Leeds.OtherTablesLayout"
            android:exported="true" />
        <activity android:name=".Leeds.LeedsUpdate" />
        <activity android:name=".LeedsHeadPage" />
        <activity android:name=".Leeds.LeedsTablesLayout" />
        <activity android:name=".DashboardActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>